<nav class="navbar navbar-expand-lg" style="background-color: #1e2a3a;">
  <div class="container-fluid">
    <%= link_to 'Dayspring', root_path, class: "navbar-brand text-light" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color: #f4f7fa;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color: #f4f7fa;">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color: #f4f7fa;">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color: #f4f7fa;">Service</a>
        </li>
      </ul>
      <div class="d-flex">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <%= link_to 'Admin Dashboard', admin_dashboard_path, class: "btn btn-outline-light me-2" %>
          <% else %>
            <%= link_to 'Employee Dashboard', employee_dashboard_path, class: "btn btn-outline-light me-2" %>
          <% end %>
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "btn btn-outline-light me-2" %>
        <% else %>
          <%= link_to 'Log In', new_user_session_path, class: "btn btn-outline-light me-2" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
